* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}
nav{
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

nav .logo{
    display: flex;
    justify-content: center;
}

.srch input{
  padding: 10px;
  border: 2px solid #999;
  border-radius: 6px 0 0 6px;
}


nav img{
    float: left;
    margin-right: 5px;
    right: 500px;
}
nav .blank{
    width: 700px;
}
nav .submit{
   right: 20px;
   height: 40px;
   width: 150px;
   border: 1px solid white;
   color: #FFFFFF;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 5px;
   background-color: #000;
   border-color :#FFFFFF;
   border-radius: 10px;
}

nav .sign{
    height: 40px;
   width: 150px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 5px;
   padding-left: 5x;
    background-color: #4C5FD5;
    color: white;
    border-radius: 10px;
    border: none;
    left: 5px;
}

nav p{
    color: white;
}

.srch{
    background-color: #DADBF1;
    height: 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.srch h1{
    font-size: 40pt;
    margin-top: 50px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.srch input{
    width: 50%;
    padding: 10px;
    padding-bottom: 20px;
    font-size: medium;
    margin: 10px;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    padding: 100px;
}

.hero .card img{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.hero .card h2{
    padding: 10px;
}

.hero .card p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 50x;
    letter-spacing: 1px;
}


.lrn{
    color: #4C5FD5;
    margin-top: 20px;
    margin-left: 120px;
}

footer{
    background-color: #000;
    color: #FFFFFF;
    display: inline-grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

footer .ftcrd{
     padding: 50px;
}

footer .ftcrd p{
    font-size: small;
    margin-top: 5px;
}

footer .ftcrd h4{
    margin-bottom: 20px;
}

footer .bottmcnt{
    margin-top: 50px;
}

footer .bottmcnt img{
    margin-bottom: 10px;
}

footer .bottmcnt h4{
    margin: 0;
}